<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="contentContainer">
    <h1><%= title %></h1>

    <div class="messageContainer">
      <% for(let i=0; i < messages.length; i++){%>
      <div class="message">
        <span> <%= messages[i].text %> </span>
        <span> <%= messages[i].user %> </span>
        <span> <%= messages[i].added %> </span>
      </div>
      <% } %>
    </div>
    <!-- Route to new form page -->
    <a href="/new"><button class="addNewMsgBtn">new message</button></a>

  </div>
</body>

</html>